.notes-list{
    margin-top: 15px;
}
.card{
    margin-top: 15px;
}
.card-title{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.card-title-input{
    text-align: center;
    width: 60%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
.card-body{
    display: flex;
    flex-direction: column;
}
.card-save{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.btn{
    height: 40px;
    width: 120px;
}
.txtarea{
    padding: 7px;
    background-color: rgb(238, 238, 238);
    width: 100%;
    min-height: 200px;
    max-height: 600px;
}





@media (max-width: 450px){

    .card-title-input{
        width: 95%;
    }
}